*{
    box-sizing: border-box;
}
body {
    margin-top: 0px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-box{
    margin: 1rem;
    width: 26rem;
    height: 4rem;
    border: 1px solid red;
}
